*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
   color: rgb(187, 16, 73);
   text-shadow: 0 0 25px rgb(187, 16, 73),
                0 0 50px rgb(187, 16, 73);
    transform: scale(1.1);
}
span{
    color: rgb(187, 16, 73)
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color: rgb(253, 253, 253);
    border-bottom: 3px solid rgb(187, 16, 73);
    background-color: rgb(187, 16, 73);
    box-shadow: 0 0 25px rgb(187, 16, 73);
    border: 2px solid transparent;
    border-radius: 8px;
}

/* Home Section */
#home{
    width: 100px;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px salmon solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color:black;
    border: 2px solid black;
}
.img-box img{
    border-radius: 50%;
    width: 550px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(187, 16, 73);
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}

/* About Me Section */
#aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px rgb(187, 16, 73),
                0 0 50px rgb(187, 16, 73);
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

/* Education Section */
#education{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    text-align: center;
    font-size: x-large;
    gap: 1em;
    bottom: 50%;
    height: max-content;
    padding: 8% 4%;
}
#education h1{
    margin: 60px;
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 175px;
}
.box{
    height: 200px;
    width: 500px;
    background-color: rgb(188, 79, 79);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box h2{
    color:azure;
    font-size: 2rem;
    margin-bottom: 30px;
}
.box p{
    color: azure;   
    font-size: 1.1rem;
}

/* Favorites Section */
#favorites{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgb(173, 128, 68);
    margin-top: 30px;
    text-align: center;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.favorite-img img{
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

  

/* Contact Me Section */
#contactme{
  background-color: #482816;
  padding: 25px 0;
  text-align: center;
  justify-content: center;
  color: white;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.contact-info{
    margin-bottom: 20px;
}
.social-media{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-media a{
    display: inline-block;
    margin: 0 10px;
}
